@font-face {
    font-family: Datatype;
    src: url(./assets/Datatype-Regular.ttf);
}

html {
    height: 100%;

    --bg: #dbdbd0;
    --outline: #adaba1;
    --text: #302d2c;
    --link: #3d79d3;
    --link-light: #6999e0;
    --focus: rgba(105, 153, 224, 0.5);
}

body {
    width: 100%;
    height: 100%;

    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg);
    color: var(--text);

    font-family: Datatype;
    font-size: 18px;
}

.center {
    min-width: 350px;
    height: fit-content;

    .infobar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

h1 {
    margin: 0px;
    font-size: 18px;
    font-weight: normal;
}

.game {
    border: solid 1px var(--outline);
    min-height: 540px;
}

a, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-light);
    cursor: pointer;
    text-decoration: underline;
}

a:focus-visible {
    outline: solid 2px var(--focus);
}
